---
title: 宮垣 陽
---

<h1>宮垣 陽</h1>

<h2>プロフィール</h2>
<dl>
  <dt>所属：</dt>
  <dd><a href="https://www.l.u-tokyo.ac.jp/">東京大学大学院人文社会系研究科</a></dd>

  <dt>専門：</dt>
  <dd>近現代ロシア史（特にソ連期）</dd>
</dl>

<h2>関心</h2>
<ul>
  <li>第二次世界大戦期のソ連</li>
  <li>デジタルヒストリー</li>
</ul>

<h2>成果物</h2>
<h3>ソフトウェア</h3>
<ul>
  <li><a href="https://github.com/miy-h/prlib-dl">prlib-dl</a>：ボリス・エリツィン記念大統領図書館の画像をダウンロードするCLIツール</li>
</ul>

<h2>リンク</h2>
<ul>
  <li>GitHub: <a href="https://github.com/miy-h">miy-h</a></li>
  <li>メール: <a href="mailto:mail@miy-h.com">mail@miy-h.com</a></li>
  <li>Twitter: <a href="https://twitter.com/miy_h_sov">@miy_h_sov</a></li>
  <li>Zenn: <a href="https://zenn.dev/miy_h">@miy_h</a></li>
  <li>ORCID: <a href="https://orcid.org/0009-0007-4810-3980">https://orcid.org/0009-0007-4810-3980</a></li>
</ul>
