---
title: "MIYAGAKI Hinata | 宮垣 陽"
---

<h1>MIYAGAKI Hinata | 宮垣 陽</h1>

<h2>About me</h2>
<dl>
  <dt>Affiliation:</dt>
  <dd><a href="https://www.u-tokyo.ac.jp/en/academics/grad_humanities_sociology.html">Graduate School of Humanities and Sociology, The University of Tokyo</a></dd>

  <dt>Major:</dt>
  <dd>Modern Russian history (especially Soviet era)</dd>
</dl>

<h2>Interests</h2>
<ul>
  <li>The Soviet Union during World War II</li>
  <li>Digital history</li>
</ul>

<h2>Works</h2>
<h3>Softwares</h3>
<ul>
  <li><a href="https://github.com/miy-h/prlib-dl">prlib-dl</a>: CLI image downloader for Boris Yeltsin Presidential Library</li>
</ul>

<h2>Links</h2>
<ul>
  <li>GitHub: <a href="https://github.com/miy-h">miy-h</a></li>
  <li>email: <a href="mailto:mail@miy-h.com">mail@miy-h.com</a></li>
  <li>Twitter: <a href="https://twitter.com/miy_h_sov">@miy_h_sov</a></li>
  <li>Zenn: <a href="https://zenn.dev/miy_h">@miy_h</a></li>
  <li>ORCID: <a href="https://orcid.org/0009-0007-4810-3980">https://orcid.org/0009-0007-4810-3980</a></li>
</ul>
